.carousel{
    width: 100% !important;
    height: 20rem !important;
    margin-top: 1rem!important;
    border-radius: 1rem!important;
}

.carouselItem{
    width: 100% !important;
    height: 20rem !important;
    justify-content: center!important;
    align-items: center!important;
    border-radius: 1rem!important;
}

.vehicleImg{
    width: 100% !important;
    height: 20rem!important;
    border-radius: 1rem!important;
}

.caption{
    width:40% !important;
    justify-content: center !important;
    position: relative !important;
    bottom: 7rem !important;
    left: 18rem !important;
    text-align: center!important;
    justify-content: center!important;
}

.typeIntro{
    background-color: black!important;
    color: white!important;
    padding: 5px!important;
    border-radius: 0.5rem;
}