.container {
    position: fixed !important;
    top: 0rem;
    left: 0rem;
    z-index: 1;
    width: 100% !important;
    height: 100vh;
    background-color: rgba(0,0,0,0.75) !important;
    padding: 5rem;
}

.card{
    width: 40rem;
    margin: 4rem auto !important;
    padding: 1rem;
    position: relative !important;
    top: -2rem !important;
    left: 0rem !important;
    z-index: 10 !important;
}

.details{
    margin: 1.5rem;
}

.actions{
    margin: 1.5rem 1rem 0;
    text-align: right;
}

.closeAll{
    text-align: right;
}

.close{
    width: 3rem;
    padding: 3px;
    background-color: rgb(255, 0, 0) !important;
    border: none;
    color: white;
    border: none !important;
}

.close:hover{
    background-color: rgb(190, 7, 7);
}

.cncl{
    margin: 0 1rem;
    background-color: red !important;
    border: none;
    border: none !important;
}

.cncl:hover{
    background-color: rgb(190, 7, 7);
}

.label{
    margin-top: 1rem;
}