/* .AdminInterface{
    display: grid;
    grid-template-columns: 15rem auto;
    gap: 2rem;
} */

.adminPanel{
  /* overflow: hidden; */
  color: var(--black);
  background-color: #f3f3f3;
  padding: 1rem;
}

.blur{
    position: absolute;
    width: 22rem;
    height: 12rem;
    border-radius: 50%;
    /* background: #a6ddf0; */
    background: lightskyblue;
    filter: blur(100px);
    z-index: 1;
  }

.container{
    display: flex;
    gap: 1rem;
    margin-top: 10px;
    z-index: 2;
}

.others{
    flex: 4;
    background-color: darkcyan;
}