.header{
    width: 100%;
    /* background-color: #CCD1D1; */
    background-color: transparent;
    color: white;
    display:flex;
    align-items: center;
    padding: 0px 1.5rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 4rem;
    z-index: 1;
}

.header ul{
    display: flex;
    position: relative;
    top: 0.5rem;
    left: 10rem;
    
}

.header li{
    margin-left: 2rem;
    list-style: none;
}


.title1{
    font-size: 25px;
    color: #FF5733;
}

.title2{
    position: relative;
    top: 1.4rem;
    left: -17.5rem;
    font-size: 12px;
    
}

.header a{
    text-decoration: none;
    color: #707B7C ;
}

.header a.active{
    color: rgb(202, 247, 247);
}

.header a:hover{
    color: brown;
}

.signOut{
    width: 7rem;
    height: 2rem;
    border-radius: 6px;
    background-color: #FF5733;
    color: white;
    border: none;
}

.icon{
    position: relative;
    top: -0.1rem;
    color: #FF5733;
}

.icon1{
    position: relative;
    top: 0rem;
   
    color: #FF5733;
}

/* .header{
    width: 100%;
    display:flex;
    align-items: center;
    padding: 0px 0rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #f57b51;
}

.title{
    font-size: 25px;
    font-family: cursive;
    color: white;
}


.container{
    width: 100%;
    margin: 0;
}

.header ul{
    display: flex;
    position: relative;
    top: 0.4rem;
    left: 28rem;
    
}

.header li{
    margin-left: 2rem;
    list-style: none;
}

.header a{
    text-decoration: none;
    color: rgb(53, 130, 192);
}

.dropdown{
    position: relative;
    left: 30rem;
    top: -0.1rem;
    color: white;
    margin: 0;
} */