.header{
    width: 100%;
    /* background-color: #CCD1D1; */
    background-color: transparent;
    color: white;
    display:flex;
    align-items: center;
    padding: 0px 1.5rem 0px 0.1rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 4rem;
    z-index: 1;
}

.logo img{
    position: relative;
    width: 4rem;
}

.header ul{
    display: flex;
    position: relative;
    top: 0.5rem;
    left: 5.5rem;
    
}

.header li{
    margin-left: 1.8rem;
    list-style: none;
}


.title1{
    font-size: 25px;
    color: #FF5733;
    position: relative;
    left: -8rem;
    top: 0.2rem;
}

.header a{
    text-decoration: none;
    color: #707B7C ;
}

.header a.active{
    color: rgb(202, 247, 247);
}

.header a:hover{
    color: brown;
}

.signOut{
    width: 7rem;
    height: 2rem;
    border-radius: 6px;
    background-color: #FF5733;
    color: white;
    border: none;
}

.icon{
    position: relative;
    top: -0.1rem;
    color: #FF5733;
}

.icon1{
    position: relative;
    top: 0rem;
   
    color: #FF5733;
}
