/* .bookingContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.bookingContainer div{
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}

.title{
    font-size: 18px;
    background-color: #FF5733;
    border-radius: 16px 0px 0px 0px;
    color: white;
    font-weight: bold;
    padding: 8px 5px;
}

.bookingInputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 15px;
    margin-top: 1.5rem;
}

.travelContainer{
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-weight: bold;
}

.travelContainer>input{
    padding: 6px;
    border-radius: 6px;
    border: 1px solid darkblue;
}

.dateContainer{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.dateContainer>label{
    margin-left: 5px;
    font-weight: bold;
}

.searchIcon{
    color: blue;
    
}

.bookingDate{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
    border: 1px solid darkblue;
    padding: 5px 5px 5px 57px;
    border-radius: 6px;
    
}

.date{
    position: absolute;
    top: 19.7rem;
    z-index: 2;
    left: 18px;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.timeContainer{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 0.7rem 0 10px 5px;
    font-weight: bold;
    
}

.timeContainer>input{
    width: 100%;
    padding: 5px 5px 5px 10px;
    border-radius: 6px;
    border: 1px solid darkblue;
}

.searchDate{
    cursor: pointer;
}

.buttonContainer{
    text-align: right;
    margin-top: 0.7rem;
}

.buttonContainer>Button{
    background-color: rgb(7, 164, 25) !important;
    border: none !important;
}

.buttonContainer>Button:hover{
    background-color: rgb(11, 95, 11) !important;
    border: none !important;
} */

.bookGuide{
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 30px;
    border-radius: 1rem;
    background-color: var(--cardColor);
}

.bookingForm{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    /* box-shadow: 3px 3px 5px 6px #ccc; */
}

.bookingForm>div{
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}

.bookingInput{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}

/* .info-button{
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
} */

/* .bookForm{
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
    
}

.bookForm>div{
    width: 100%;
    align-items: center;
    justify-content: center;
} */

.bookBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: var(--buttonBg);
    transition: all 100ms ease-out;
    padding: 5px 20px;
  }
  
  .bookBtn:hover{
    cursor: pointer;
    color: black;
    background: transparent;
    border: 2px solid var(--orange);
    width: 8rem;
  }