.guideBackground{
    position: relative;
    background-color: white;
    /* background-image: url('https://media.istockphoto.com/vectors/dark-red-abstract-blurry-background-vector-id1268618849?k=20&m=1268618849&s=612x612&w=0&h=fUp16V3qFmywZzIK6WL9TAXuuXF1TbGIaiYx82R1HPg='); */
    width: 100%;
    height: 100%;
    top: -3rem;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding-top: 3rem;
}

.headingImgContainer{
    width: 100%;
    background-image: url('https://www.sltda.gov.lk/images/s2.jpg');
    background-size: 100% 20rem;
    background-repeat: no-repeat;
    height: 20rem;
    object-fit: cover;
}

.headingImgContainer span{
    position: absolute;
    left: 13rem;
    top: 13rem;
    color: white;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch{
    flex: 1;
    background-color: #fdda16;
    padding: 10px 20px;
    border-radius: 6px;
    position: sticky;
    top: 150px;
    height: max-content;
    margin-right: 3rem;
}

.searchTitle{
    font-size: 30px;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
}

.searchItem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 10px;
}

.selectDistrict{
    width: 100%;
}

.searchItem>label {
    font-size: 18px!important;
}

.searchItem>input{
    height: 30px!important;
    border: none!important;
    padding:5px 10px!important;
    width: 100%!important;
}

.searchItem>span{
    height: 35px;
    border: none!important;
    background-color: white;
    padding:5px 10px;
    align-items: center;
    cursor: pointer;
    width: 100%!important;
}

.listResult{
    flex: 3;
}

.srchBtn{
    width: 100%;
    margin: 10px 0px;
}