.topGuidesContainer{
    margin-top: 10rem;
}

.title{
    position: relative;
    top: -3.5rem;
}

.feature{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
    margin: 2rem auto;
    margin-top: 0rem;
    /* border: 1px solid black; */
    padding: 1.5rem;
    border-radius: 6px;
    position: relative;
    top: -3rem;
}

.featuredItems{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
}

.featuredImg{
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    display: block;
    object-fit: cover;
}

.featuredTitles{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: black;
    display: flex;
    align-items: center;
    font-family: 'Cabin';
}

.featuredTitles>h2{
    background-color: black;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    border-radius: 6px 0 0 6px;
}

.featuredTitles>h5{
    background-color: white ;
    padding: 5px 10px;
    font-size: 14px;
    color: black;
    border-radius: 0px 6px 6px 0;
}
