.topGuidesContainer{
    margin-top: 10rem;
}

.title{
    position: relative;
    top: -3.5rem;
}

.feature{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
    margin: 2rem auto;
    margin-top: 0rem;
    /* border: 1px solid black; */
    padding: 1.5rem;
    border-radius: 6px;
    position: relative;
    top: -3rem;
}

.featuredItems{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
}

.featuredImg{
    width: 20rem;
    height: 30rem;
    object-fit: cover;
}

.featuredTitles{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: black;
}
