.explore{
    position: relative;
    top: -4rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 6px;
    padding: 0 12px;
}

.explore a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.explore a:hover{
    color: blue;
}