.addGallery{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 1.5rem;
    padding: 1rem;
    width: 30rem;
    margin: 0rem auto;
}

.addGallery h2{
    font-weight: bold;
}

.tripDetails{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details span{
    font-weight: bold;
}

.subDetails{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subDetails span{
    font-weight: bold;
}

.details input{
    border-radius: 1.5rem;
    border: 1px solid lightgray;
    padding: 5px;
}

.imageContainer{
    display: flex;
    gap: 1rem;
}

.imageContainer label{
    font-weight: bold;
}

.tripDetails button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: var(--buttonBg);
    transition: all 100ms ease-out;
    height: 2rem;
    padding: 0 20px;
    margin: 1.5rem auto;  
}