.profileContainer{
    width: 100%;
    max-width: 1024px;
    margin: 0rem auto;
    background-color: transparent;
    /* border: 1px solid lightgray; */
    padding: 1rem;
    position: relative;
    top: -4rem;
}

.profileDetails{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* height: max-content; */
}

.head{
    display: flex;
}

.head>button{
    position: absolute;
    left: 9.7rem;
    top: 2rem;
    border-radius: 50%;
    padding: 4px 8px;
    border: 1px solid;
}

.headContents{
    display: flex;
    justify-content: space-between;
}

.headContainer{
    position: absolute;
    left: 14rem;
    display: flex;
    flex-direction: column;
    /* top: -10px; */
}

.sub{
    display: flex;
    gap: 30px;
    color: gray;
}

.ratingsContainer{
    position: relative;
    left: 25rem;
    top: 0.8rem;
    font-size: 15px;
}

.ratingBar{
    display: flex;
    gap: 20px;
    font-weight: bold;
}

.ratingText{
    position: relative;
    top: 0.2rem;
}

.rating{
    background-color: #0D2F7D;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.bodyItems{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    top: -7rem;
    left: -1.5rem;
    height:max-content
}

.btn{
    width: 150px;
    position: relative;
    top: -5rem;
    left: 55rem;
    /* position: absolute;
    top: 31.5rem;
    left: 20rem; */
}

.pencilIcon{
    color: rgb(216, 216, 216) !important;
    margin-right: 10px;
}

.head img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* margin: 1rem; */
    position: relative;
    top: -10rem;
    left: -4rem;
    border: 8px solid white;
}