.confirmedBookingTable{
    overflow-x: auto;
    overflow-y: auto;
    width: 78rem;
    max-height: 9rem;
    margin: 1rem auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    width: auto;
  }

.tours>h1{
    text-align: center;
    margin-bottom: 2rem;
}

.btnContainer{
    display: flex;
    gap: 10px;
}

.tourDelete{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(199, 4, 4);
    transition: all 100ms ease-out;
    padding: 5px 10px;
}

.tourDelete:hover{
    cursor: pointer;
    color: white;
    background: transparent;
    border: 2px solid rgb(199, 4, 4);
}

.tourFinish{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: none;
    border-radius: 0.5rem;
    background: rgb(147, 240, 7);
    transition: all 100ms ease-out;
    padding: 5px 10px;
}

.tourFinish:hover{
    cursor: pointer;
    color: white;
    background: transparent;
    border: 2px solid rgb(147, 240, 7);
}

.bookingComponents{
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 2rem;
    background-color: var(--cardColor);
    padding: 1rem;
}

.bookingImage{
    width: 100%;
    margin-bottom: 1.5rem;
}

.bookingContainer{
    width: 60%;
    padding: 0 1rem;
    margin: 0rem auto;
    margin-bottom: 2.5rem;
    height: max-content;
    justify-content: center;
    align-items: center;   
}

.bookingContainer>h1{
    text-align: center;
    margin-bottom: 2rem;
}

.bookingList{
    display: flex;
    padding: 15px;
    gap: 0px;
    border: 1px solid rgb(0,0,0,0.40);
    margin-bottom: 25px;
    box-shadow:3px 3px 4px 1px #ccc;
    border-radius: 1rem;
    align-items: center;
    width: 95%;
}

.bookingList>img{
    width: 230px;
    height: 230px;
    margin-right: 2rem;
}

.bookingDetails{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1rem;
}

.details{
    display: grid;
    grid-template-columns: 10rem auto;
    grid-gap: 1rem;
}

.details>span:nth-of-type(1){
    font-weight: bold;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
}

.buttonContainer{
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}

.mainBtn{
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 5px;
    background: rgb(21, 105, 184);
    transition: all 100ms ease-out;
    padding: 5px 10px;
    width: 6rem;
}

.mainBtn:hover{
    cursor: pointer;
    color: white;
    background: rgb(17, 99, 177);
}

.cancelBtn {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(199, 4, 4);
    transition: all 100ms ease-out;
    padding: 5px 10px;
    width: 6rem;
}

.cancelBtn:hover{
    cursor: pointer;
    color: white;
    background: rgb(160, 0, 0);
}

/* Tours css */
.finishTourBtn{
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 5px;
    background: rgb(33, 117, 196);
    transition: all 100ms ease-out;
    padding: 5px 10px;
    width: 6rem;
}

.finishTourBtn:hover{
    cursor: pointer;
    color: white;
    background: rgb(17, 99, 177);
}
