.back{
    position: fixed;
    background-image: url('https://img.freepik.com/free-vector/blue-background-with-product-podium-surrounded-by-blue-clouds_87521-3062.jpg?w=2000');
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
