.usersBg{
    position: relative;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEZcDgjim8snEHvymCvxt7_4NxEe9NV_mwMw&usqp=CAU');
    width: 100%;
    height: 33.55rem;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
}