.widgetLg{
    margin: 20px;
    padding: 20px;
    background-color: var(--cardColor);
    border-radius: 10px;
}

.widgetLg>h3{
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

/* .widgetLg{
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 20px;
    border-radius: 10px;
}

.widgetLgTitle{
    font-size: 20px;
    font-weight: 600;
}

.widgetLgTable{
    width: 100%;
    border-spacing: 20px;
}

.widgetLgTh{
    text-align: left;
}

.widegtLgUser>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}  */