.card{
    width: 20rem;
    height:28rem;
    margin: 5rem auto;
    margin-bottom: 0;
    border-radius: 6px;
    position: relative;
    top: 1rem;
    /* left: -25rem; */
    border: none !important;
    background-color: rgb(0,0,0,0.35) !important;    
    padding: 1rem 0 0 0;
}

.logo img{
    width: 5rem;
    position: relative;
    left: 6.3rem;
    top: -0.5rem;
}

.heading{
    text-align: center;
    margin-bottom: 0;
    position: relative;
    /* top: -1.4rem; */
}

.form{
    width: 18rem;
    margin: 0 auto;
}

.credentials{
    position: relative;
    top: 2rem;
}

.fill{
    margin: 1rem 0;
    /* width: 18rem; */
}

.buttons{
    position: relative;
    left: 1.5rem;
    top: 2rem;
}

.loginBtn{
    position: relative;
    top: 2rem;
}

.login{
    width: 18rem;
    margin: 1rem 0;
}

.gglBtn{
    width: 18rem;
    margin: 0.5rem 0 2rem;
}

.signIn_Btn{
    text-align: left;
    margin: 0 0 1rem 1rem;
    position: relative;
    top: 1.5rem;
    color: white;
}

.regBtn {
    background-color: #347474 !important;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 13rem;
    margin: 0 0 0.5rem 0;
    color: black;
    

}

.regBtn a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: inherit;
    
}

.regBtn a:hover{
    color: black;
    text-decoration: none;
    font-family: inherit;
    
}

.actions{
    position: relative;
    top: 2rem;
}