.card{
    width: 25rem;
    margin: 4rem auto;
    margin-top: 7rem;
    padding: 1.5rem;
}

.heading{
    text-align: center;
    margin-bottom: 1rem;
}

.form{
    width: 20rem;
    margin: 0rem auto;
}

.label{
    margin: 0.5rem 0;
}


.register_Btn{
    width: 20rem;
    margin: 2rem 0rem 1.5rem;
}

.signIn_Btn{
    text-align: center;
    margin-top: 1rem;
}